* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button, input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    font-family: 'Consolas', serif;
    background-color: #212121;
}