.nav {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 30px 45px;
  max-height: 86px;
  margin-bottom: 60px;

  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  // .nav__list-link
  &__list-link {
    svg {
      transition: all 0.3s ease-out;
    }
    &:hover svg {
      transform: scale(1.2);
      transition: all 0.3s ease-out;
    }
  }
}
